 
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 max-w-md">
  <h1>Context</h1>

         <div class="flex flex-col gap-1">
    <label for="id" class="font-medium">id</label>
    <input
      id="id"
      name="id"
      type="number"
      formControlName="id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['id'].touched || submitted) && f['id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['id']?.errors?.['required']) {
          L'id est obligatoire.
        }
        @if (f['id']?.errors?.['id']) {
          Format d'id invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="context_label" class="font-medium">context_label</label>
    <input
      id="context_label"
      name="context_label"
      type="text"
      formControlName="context_label"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['context_label'].touched || submitted) && f['context_label'].errors) {
      <p class="text-sm text-red-600">
        @if (f['context_label']?.errors?.['required']) {
          L'context_label est obligatoire.
        }
        @if (f['context_label']?.errors?.['context_label']) {
          Format d'context_label invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="created_At" class="font-medium">created_At</label>
    <input
      id="created_At"
      name="created_At"
      type="datetime-local"
      formControlName="created_At"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['created_At'].touched || submitted) && f['created_At'].errors) {
      <p class="text-sm text-red-600">
        @if (f['created_At']?.errors?.['required']) {
          L'created_At est obligatoire.
        }
        @if (f['created_At']?.errors?.['created_At']) {
          Format d'created_At invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="updated_At" class="font-medium">updated_At</label>
    <input
      id="updated_At"
      name="updated_At"
      type="date"
      formControlName="updated_At"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['updated_At'].touched || submitted) && f['updated_At'].errors) {
      <p class="text-sm text-red-600">
        @if (f['updated_At']?.errors?.['required']) {
          L'updated_At est obligatoire.
        }
        @if (f['updated_At']?.errors?.['updated_At']) {
          Format d'updated_At invalide.
        }
      </p>
    }
  </div>

@if (submitted && form.invalid) {
    <p class="text-sm text-red-600">Corrigez les erreurs avant de continuer.</p>
  }

  <button
    type="submit"
    class="mt-2 px-4 py-2 rounded bg-blue-600 text-white font-medium"
  >
    Se connecter
  </button>
</form>
 