<div class="card-stat">
  <div class="flex items-center justify-between mb-4">
    <div [ngClass]="getColorClass(cardStat().color || '')" class="icon-container">
      @if (cardStat().icon != '') {
        <img [ngSrc]="cardStat().icon" width="20" height="20" />
      }
      <!-- <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path
          [attr.d]="getIconPath(cardStat().icon)"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        />
      </svg> -->
    </div>
    <span class="value">
      {{ cardStat().value }}
    </span>
  </div>

  <h3 class="title">
    {{ cardStat().title }}
  </h3>
  @if (cardStat().progress) {
    <ul>
      @for (p of cardStat().progress; track $index) {
        <li><app-progress-bar [progress]="p" /></li>
      }
    </ul>
  }
</div>
