header {
  display: flex;
  align-items: center;
  height: var(--global-actions-bar-height);
  flex: 0 0 var(--global-actions-bar-height);
  padding-inline: var(--8px);
  background-color: var(--global-actions-bar-background);
}

header h1 {
  color: beige;
  margin: 0;
  font-size: 24px;
}
