<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 max-w-md">
  <h1>CodeBase</h1>

  <div class="flex flex-col gap-1">
    <label for="id" class="font-medium">id</label>
    <input
      id="id"
      name="id"
      type="number"
      formControlName="id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if (submitted && getForm['id'].errors) {
      <div class="error-message">
        @if (getForm['id'].errors['required']) {
          <span>Le id est requis</span>
        }
      </div>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label for="label" class="font-medium">label</label>
    <input
      id="label"
      name="label"
      type="text"
      formControlName="label"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if (submitted && getForm['label'].errors) {
      <div class="error-message">
        @if (getForm['label'].errors['required']) {
          <span>Le label est requis</span>
        }
      </div>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label for="code" class="font-medium">code</label>
    <input
      id="code"
      name="code"
      type="text"
      formControlName="code"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if (submitted && getForm['code'].errors) {
      <div class="error-message"></div>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label for="path_file" class="font-medium">path_file</label>
    <input
      id="path_file"
      name="path_file"
      type="file"
      formControlName="path_file"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if (submitted && getForm['path_file'].errors) {
      <div class="error-message">
        @if (getForm['path_file'].errors['required']) {
          <span>Le path_file est requis</span>
        }
      </div>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label for="feature" class="font-medium">feature</label>
    <input
      id="feature"
      name="feature"
      type="text"
      formControlName="feature"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if (submitted && getForm['feature'].errors) {
      <div class="error-message">
        @if (getForm['feature'].errors['required']) {
          <span>Le feature est requis</span>
        }
      </div>
    }
  </div>

  @if (submitted && form.invalid) {
    <p class="text-sm text-red-600">Corrigez les erreurs avant de continuer.</p>
  }
  <button (click)="onSubmit()" class="mt-2 px-4 py-2 rounded bg-blue-600 text-white font-medium">
    Se connecter
  </button>
</form>
