 
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 max-w-md">
  <h1>TaskInstance</h1>

         <div class="flex flex-col gap-1">
    <label for="id" class="font-medium">id</label>
    <input
      id="id"
      name="id"
      type="number"
      formControlName="id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['id'].touched || submitted) && f['id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['id']?.errors?.['required']) {
          L'id est obligatoire.
        }
        @if (f['id']?.errors?.['id']) {
          Format d'id invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="user_id" class="font-medium">user_id</label>
    <input
      id="user_id"
      name="user_id"
      type="number"
      formControlName="user_id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['user_id'].touched || submitted) && f['user_id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['user_id']?.errors?.['required']) {
          L'user_id est obligatoire.
        }
        @if (f['user_id']?.errors?.['user_id']) {
          Format d'user_id invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="task_template_id" class="font-medium">task_template_id</label>
    <input
      id="task_template_id"
      name="task_template_id"
      type="number"
      formControlName="task_template_id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['task_template_id'].touched || submitted) && f['task_template_id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['task_template_id']?.errors?.['required']) {
          L'task_template_id est obligatoire.
        }
        @if (f['task_template_id']?.errors?.['task_template_id']) {
          Format d'task_template_id invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="sprint_instance_id" class="font-medium">sprint_instance_id</label>
    <input
      id="sprint_instance_id"
      name="sprint_instance_id"
      type="number"
      formControlName="sprint_instance_id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['sprint_instance_id'].touched || submitted) && f['sprint_instance_id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['sprint_instance_id']?.errors?.['required']) {
          L'sprint_instance_id est obligatoire.
        }
        @if (f['sprint_instance_id']?.errors?.['sprint_instance_id']) {
          Format d'sprint_instance_id invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="priority_id" class="font-medium">priority_id</label>
    <input
      id="priority_id"
      name="priority_id"
      type="number"
      formControlName="priority_id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['priority_id'].touched || submitted) && f['priority_id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['priority_id']?.errors?.['required']) {
          L'priority_id est obligatoire.
        }
        @if (f['priority_id']?.errors?.['priority_id']) {
          Format d'priority_id invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="status_id" class="font-medium">status_id</label>
    <input
      id="status_id"
      name="status_id"
      type="number"
      formControlName="status_id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['status_id'].touched || submitted) && f['status_id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['status_id']?.errors?.['required']) {
          L'status_id est obligatoire.
        }
        @if (f['status_id']?.errors?.['status_id']) {
          Format d'status_id invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="type_task_id" class="font-medium">type_task_id</label>
    <input
      id="type_task_id"
      name="type_task_id"
      type="number"
      formControlName="type_task_id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['type_task_id'].touched || submitted) && f['type_task_id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['type_task_id']?.errors?.['required']) {
          L'type_task_id est obligatoire.
        }
        @if (f['type_task_id']?.errors?.['type_task_id']) {
          Format d'type_task_id invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="name" class="font-medium">name</label>
    <input
      id="name"
      name="name"
      type="text"
      formControlName="name"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['name'].touched || submitted) && f['name'].errors) {
      <p class="text-sm text-red-600">
        @if (f['name']?.errors?.['required']) {
          L'name est obligatoire.
        }
        @if (f['name']?.errors?.['name']) {
          Format d'name invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="description" class="font-medium">description</label>
    <input
      id="description"
      name="description"
      type="text"
      formControlName="description"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['description'].touched || submitted) && f['description'].errors) {
      <p class="text-sm text-red-600">
        @if (f['description']?.errors?.['required']) {
          L'description est obligatoire.
        }
        @if (f['description']?.errors?.['description']) {
          Format d'description invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="start_date" class="font-medium">start_date</label>
    <input
      id="start_date"
      name="start_date"
      type="date"
      formControlName="start_date"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['start_date'].touched || submitted) && f['start_date'].errors) {
      <p class="text-sm text-red-600">
        @if (f['start_date']?.errors?.['required']) {
          L'start_date est obligatoire.
        }
        @if (f['start_date']?.errors?.['start_date']) {
          Format d'start_date invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="due_date" class="font-medium">due_date</label>
    <input
      id="due_date"
      name="due_date"
      type="date"
      formControlName="due_date"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['due_date'].touched || submitted) && f['due_date'].errors) {
      <p class="text-sm text-red-600">
        @if (f['due_date']?.errors?.['required']) {
          L'due_date est obligatoire.
        }
        @if (f['due_date']?.errors?.['due_date']) {
          Format d'due_date invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="order" class="font-medium">order</label>
    <input
      id="order"
      name="order"
      type="number"
      formControlName="order"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['order'].touched || submitted) && f['order'].errors) {
      <p class="text-sm text-red-600">
        @if (f['order']?.errors?.['required']) {
          L'order est obligatoire.
        }
        @if (f['order']?.errors?.['order']) {
          Format d'order invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="parent_task" class="font-medium">parent_task</label>
    <input
      id="parent_task"
      name="parent_task"
      type="number"
      formControlName="parent_task"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['parent_task'].touched || submitted) && f['parent_task'].errors) {
      <p class="text-sm text-red-600">
        @if (f['parent_task']?.errors?.['required']) {
          L'parent_task est obligatoire.
        }
        @if (f['parent_task']?.errors?.['parent_task']) {
          Format d'parent_task invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="dependency_id" class="font-medium">dependency_id</label>
    <input
      id="dependency_id"
      name="dependency_id"
      type="number"
      formControlName="dependency_id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['dependency_id'].touched || submitted) && f['dependency_id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['dependency_id']?.errors?.['required']) {
          L'dependency_id est obligatoire.
        }
        @if (f['dependency_id']?.errors?.['dependency_id']) {
          Format d'dependency_id invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="created_At" class="font-medium">created_At</label>
    <input
      id="created_At"
      name="created_At"
      type="datetime-local"
      formControlName="created_At"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['created_At'].touched || submitted) && f['created_At'].errors) {
      <p class="text-sm text-red-600">
        @if (f['created_At']?.errors?.['required']) {
          L'created_At est obligatoire.
        }
        @if (f['created_At']?.errors?.['created_At']) {
          Format d'created_At invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="updated_At" class="font-medium">updated_At</label>
    <input
      id="updated_At"
      name="updated_At"
      type="date"
      formControlName="updated_At"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['updated_At'].touched || submitted) && f['updated_At'].errors) {
      <p class="text-sm text-red-600">
        @if (f['updated_At']?.errors?.['required']) {
          L'updated_At est obligatoire.
        }
        @if (f['updated_At']?.errors?.['updated_At']) {
          Format d'updated_At invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="comment_id" class="font-medium">comment_id</label>
    <input
      id="comment_id"
      name="comment_id"
      type="number"
      formControlName="comment_id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['comment_id'].touched || submitted) && f['comment_id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['comment_id']?.errors?.['required']) {
          L'comment_id est obligatoire.
        }
        @if (f['comment_id']?.errors?.['comment_id']) {
          Format d'comment_id invalide.
        }
      </p>
    }
  </div>

@if (submitted && form.invalid) {
    <p class="text-sm text-red-600">Corrigez les erreurs avant de continuer.</p>
  }

  <button
    type="submit"
    class="mt-2 px-4 py-2 rounded bg-blue-600 text-white font-medium"
  >
    Se connecter
  </button>
</form>
 