 
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 max-w-md">
  <h1>File</h1>

         <div class="flex flex-col gap-1">
    <label for="id" class="font-medium">id</label>
    <input
      id="id"
      name="id"
      type="number"
      formControlName="id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['id'].touched || submitted) && f['id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['id']?.errors?.['required']) {
          L'id est obligatoire.
        }
        @if (f['id']?.errors?.['id']) {
          Format d'id invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="path" class="font-medium">path</label>
    <input
      id="path"
      name="path"
      type="text"
      formControlName="path"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['path'].touched || submitted) && f['path'].errors) {
      <p class="text-sm text-red-600">
        @if (f['path']?.errors?.['required']) {
          L'path est obligatoire.
        }
        @if (f['path']?.errors?.['path']) {
          Format d'path invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="key_word" class="font-medium">key_word</label>
    <input
      id="key_word"
      name="key_word"
      type="text"
      formControlName="key_word"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['key_word'].touched || submitted) && f['key_word'].errors) {
      <p class="text-sm text-red-600">
        @if (f['key_word']?.errors?.['required']) {
          L'key_word est obligatoire.
        }
        @if (f['key_word']?.errors?.['key_word']) {
          Format d'key_word invalide.
        }
      </p>
    }
  </div>

@if (submitted && form.invalid) {
    <p class="text-sm text-red-600">Corrigez les erreurs avant de continuer.</p>
  }

  <button
    type="submit"
    class="mt-2 px-4 py-2 rounded bg-blue-600 text-white font-medium"
  >
    Se connecter
  </button>
</form>
 