<section class="w-full p-8 flex flex-col items-center">
  <div>
    <h1 class="text-3xl font-bold">Listes de projets</h1>
  </div>
  <div
    cdkDropList
    [cdkDropListData]="items()"
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="drop($event)"
  >
    <ul class="w-full flex flex-wrap items-center justify-center gap-4">
      @if (projectInstanceStore.projectsLoading()) {
        <p>Chargement…</p>
      } @else if (projectInstanceStore.projectsLoaded()) {
        @for (project of items(); track project.id) {
          <li cdkDrag>
            <app-card-project [project]="project" />
          </li>
        }
      } @else {
        <p>Aucune donnée</p>
      }
    </ul>
  </div>
</section>
