<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 max-w-md">
  <h1>Notification</h1>

  <div class="flex flex-col gap-1">
    <label for="id" class="font-medium">id</label>
    <input
      id="id"
      name="id"
      type="number"
      formControlName="id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if (submitted && getForm['id'].errors) {
      <div class="error-message">
        @if (getForm['id'].errors['required']) {
          <span>Le id est requis</span>
        }
      </div>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label for="user_id" class="font-medium">user_id</label>
    <input
      id="user_id"
      name="user_id"
      type="number"
      formControlName="user_id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if (submitted && getForm['user_id'].errors) {
      <div class="error-message"></div>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label for="message" class="font-medium">message</label>
    <input
      id="message"
      name="message"
      type="text"
      formControlName="message"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if (submitted && getForm['message'].errors) {
      <div class="error-message"></div>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label for="date" class="font-medium">date</label>
    <input
      id="date"
      name="date"
      type="date"
      formControlName="date"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if (submitted && getForm['date'].errors) {
      <div class="error-message"></div>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label for="type" class="font-medium">type</label>
    <input
      id="type"
      name="type"
      type="text"
      formControlName="type"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if (submitted && getForm['type'].errors) {
      <div class="error-message">
        @if (getForm['type'].errors['required']) {
          <span>Le type est requis</span>
        }
      </div>
    }
  </div>

  @if (submitted && form.invalid) {
    <p class="text-sm text-red-600">Corrigez les erreurs avant de continuer.</p>
  }
  <button (click)="onSubmit()" class="mt-2 px-4 py-2 rounded bg-blue-600 text-white font-medium">
    Se connecter
  </button>
</form>
