<form class="card flex flex-col gap-4 max-w-md">
  <h1>Projet</h1>

  <div class="hidden flex flex-col gap-1">
    <label for="id" class="font-medium">id</label>
    <input id="id" type="number" [field]="projectForm.id" class="border rounded px-3 py-2" />

    @for (error of projectForm.id().errors(); track error.kind) {
      <small class="text-red-600">{{ error.message }}</small>
    }
  </div>
  <div class="flex flex-col gap-1">
    <label for="name" class="font-medium">Nom</label>
    <input id="name" type="text" [field]="projectForm.name" class="border rounded px-3 py-2" />
    @if (projectForm.name().touched() && projectForm.name().invalid()) {
      <ul class="text-red-600">
        @for (error of projectForm.name().errors(); track error) {
          <li>{{ error.message }}</li>
        }
      </ul>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label for="description" class="font-medium">Déscription</label>
    <input
      id="description"
      type="text"
      [field]="projectForm.description"
      class="border rounded px-3 py-2"
    />
    @if (projectForm.description().touched() && projectForm.description().invalid()) {
      <ul class="text-red-600">
        @for (error of projectForm.description().errors(); track error) {
          <li>{{ error.message }}</li>
        }
      </ul>
    }

    @for (error of projectForm.description().errors(); track error.kind) {
      <small class="text-red-600">{{ error.message }}</small>
    }
  </div>
  <div class="w-full flex gap-2">
    <div class="w-full flex flex-col gap-1">
      <label for="start-date" class="font-medium">Date de Début</label>
      <input
        id="start-date"
        type="date"
        [field]="projectForm.startDate"
        class="border rounded px-3 py-2"
      />

      @for (error of projectForm.startDate().errors(); track error.kind) {
        <small class="text-red-600">{{ error.message }}</small>
      }
    </div>
    <div class="w-full flex flex-col gap-1">
      <label for="end-date" class="font-medium">Date de Fin</label>
      <input
        id="end-date"
        type="date"
        [field]="projectForm.endDate"
        class="border rounded px-3 py-2"
      />
      @for (error of projectForm.endDate().errors(); track error.kind) {
        <small class="text-red-600">{{ error.message }}</small>
      }
    </div>
  </div>

  <div class="w-full flex gap-2">
    <div class="w-full flex flex-col gap-1">
      <label for="status" class="font-medium">status</label>
      <select name="status" id="status">
        @for (status of statuses(); track status['@id']) {
          <option [value]="status.id" class="border rounded px-3 py-2">
            {{ status.label }}
          </option>
        }
      </select>
      @for (error of projectForm.status().errors(); track error.kind) {
        <small class="text-red-600">{{ error.message }}</small>
      }
    </div>
    <div class="w-full flex flex-col gap-1">
      <label for="priority" class="font-medium">Priorité</label>
      <select name="priority" id="priority">
        @for (priority of priorities(); track priority['@id']) {
          <option
            [value]="priority.id"
            class="border rounded px-3 py-2"
            [style.background]="priority.color"
          >
            <p>
              {{ priority.label }}
            </p>
          </option>
        }
      </select>
      @for (error of projectForm.priority().errors(); track error.kind) {
        <small class="text-red-600">{{ error.message }}</small>
      }
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <label for="project-template" class="font-medium">Template du project</label>
    <input
      id="project-template"
      type="text"
      [field]="projectForm.projectTemplate"
      class="border rounded px-3 py-2"
    />

    @for (error of projectForm.projectTemplate().errors(); track error.kind) {
      <small class="text-red-600">{{ error.message }}</small>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label for="comment" class="font-medium">Commentaire</label>
    <textarea
      id="comment"
      rows="5"
      type="text"
      [field]="projectForm.comment"
      class="border rounded px-3 py-1"
    ></textarea>

    @for (error of projectForm.comment().errors(); track error.kind) {
      <small class="text-red-600">{{ error.message }}</small>
    }
  </div>

  <button
    (click)="onSubmit($event)"
    [disabled]="!projectForm"
    class="mt-2 px-4 py-2 rounded bg-blue-600 text-white font-medium"
  >
    Valider
  </button>
</form>
