<div class="panel-statistic hover:cursor-pointer" (click)="toggleVisible()">
  <div class="flex items-center justify-between">
    <h1 class="title">Statistiques</h1>
    <img
      class="hover:cursor-pointer"
      ngSrc="assets/svg/chevron-right.svg"
      width="20"
      height="20"
      alt=""
    />
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6"
    [class.hidden-card]="!isVisible"
  >
    @for (stat of cardStats(); track $index) {
      <app-card-stat [cardStat]="stat" />
    }
  </div>
</div>
