 
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 max-w-md">
  <h1>ProjectTemplateSprintTemplate</h1>

         <div class="flex flex-col gap-1">
    <label for="project_template_id" class="font-medium">project_template_id</label>
    <input
      id="project_template_id"
      name="project_template_id"
      type="number"
      formControlName="project_template_id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['project_template_id'].touched || submitted) && f['project_template_id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['project_template_id']?.errors?.['required']) {
          L'project_template_id est obligatoire.
        }
        @if (f['project_template_id']?.errors?.['project_template_id']) {
          Format d'project_template_id invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="sprint_template_id" class="font-medium">sprint_template_id</label>
    <input
      id="sprint_template_id"
      name="sprint_template_id"
      type="number"
      formControlName="sprint_template_id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['sprint_template_id'].touched || submitted) && f['sprint_template_id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['sprint_template_id']?.errors?.['required']) {
          L'sprint_template_id est obligatoire.
        }
        @if (f['sprint_template_id']?.errors?.['sprint_template_id']) {
          Format d'sprint_template_id invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="sprint_order" class="font-medium">sprint_order</label>
    <input
      id="sprint_order"
      name="sprint_order"
      type="number"
      formControlName="sprint_order"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['sprint_order'].touched || submitted) && f['sprint_order'].errors) {
      <p class="text-sm text-red-600">
        @if (f['sprint_order']?.errors?.['required']) {
          L'sprint_order est obligatoire.
        }
        @if (f['sprint_order']?.errors?.['sprint_order']) {
          Format d'sprint_order invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="created_At" class="font-medium">created_At</label>
    <input
      id="created_At"
      name="created_At"
      type="datetime-local"
      formControlName="created_At"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['created_At'].touched || submitted) && f['created_At'].errors) {
      <p class="text-sm text-red-600">
        @if (f['created_At']?.errors?.['required']) {
          L'created_At est obligatoire.
        }
        @if (f['created_At']?.errors?.['created_At']) {
          Format d'created_At invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="updated_At" class="font-medium">updated_At</label>
    <input
      id="updated_At"
      name="updated_At"
      type="date"
      formControlName="updated_At"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['updated_At'].touched || submitted) && f['updated_At'].errors) {
      <p class="text-sm text-red-600">
        @if (f['updated_At']?.errors?.['required']) {
          L'updated_At est obligatoire.
        }
        @if (f['updated_At']?.errors?.['updated_At']) {
          Format d'updated_At invalide.
        }
      </p>
    }
  </div>

@if (submitted && form.invalid) {
    <p class="text-sm text-red-600">Corrigez les erreurs avant de continuer.</p>
  }

  <button
    type="submit"
    class="mt-2 px-4 py-2 rounded bg-blue-600 text-white font-medium"
  >
    Se connecter
  </button>
</form>
 