<div
  class="card mt-6 rounded-md gap-4 flex flex-col cursor-pointer hover:shadow-lg hover:transition-shadow hover:duration-500"
  routerLinkActive="active-link"
>
  <div class="flex-col header-card">
    <div class="text-sm my-2 flex items-center justify-between">
      <p class="h-5 w-5 rounded-2xl bg-[{{ project()?.color }}]">status</p>
      <div class="flex items-center gap-4">
        <app-star-favorit
          (click)="toogleFavorit(project())"
          [class]="'h-8 w-8 object-containe'"
          [class.isFavorit]="project()?.favory"
          [style]="'fill: rgb(255, 174, 0);'"
        />
        <!-- <img
          (click)="toogleFavorit(project())"
          id="project-favorit"
          ngSrc="./assets/svg/star-favorit.svg"
          width="20"
          height="20"
          class="object-containe"
          [class.isFavorit]="project()?.favory"
        /> -->
        <img
          id="project-favorit"
          ngSrc="./assets/svg/edit.svg"
          width="20"
          height="20"
          class="object-containe"
        />
      </div>
    </div>
    <div class="w-full flex flex-col">
      <div class="w-full flex items-center justify-between">
        <p class="text-xl">{{ project()?.name }}</p>
        <img
          class="rotate-90 h-5 w-5 hover:cursor-pointer hover:bg-gray-100"
          ngSrc="assets/svg/chevron-right.svg"
          alt=""
          (click)="barIsVisible()"
          width="20"
          height="20"
        />
      </div>
      <div class="w-full my-2 flex items-center justify-between">
        <p class="text-sm">Début : {{ project()?.startDate | date: 'd/M/yyyy' }}</p>
        <p class="text-sm">Fin : {{ project()?.endDate | date: 'd/M/yyyy' }}</p>
      </div>
    </div>
    @if (barVisible()) {
      <ul>
        @for (p of progress; track $index) {
          <li><app-progress-bar [progress]="p" /></li>
        }
      </ul>
    }
  </div>

  <div class="flex items-center justify-between">
    <img ngSrc="./assets/svg/chevron-right.svg" width="20" height="20" />
    <img ngSrc="./assets/svg/chevron-right.svg" width="20" height="20" class="object-containe" />
    <img ngSrc="./assets/svg/chevron-right.svg" width="20" height="20" class="object-containe" />
    <img ngSrc="./assets/svg/chevron-right.svg" width="20" height="20" class="object-containe" />
    <img ngSrc="./assets/svg/chevron-right.svg" width="20" height="20" class="object-containe" />

    <button
      class="p-4 hover:cursor-pointer hover:bg-gray-100"
      [routerLink]="['/admin/project', project()?.id]"
    >
      Voir le projet
    </button>
  </div>
</div>
