.sprint-instance {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sprint-instance_input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sprint-instance_input input {
  width: 100%;
}
