<div class="flex items-center justify-between">
  <h3 class="text-sm font-medium text-gray-500 px-3 mt-0 mb-2">Sprints</h3>
  @if (orderSprint() === 'asc') {
    <h3 class="text-sm font-medium text-gray-500 px-3 mt-0 mb-2" (click)="toggleSort()">ASC</h3>
  } @else {
    <h3 class="text-sm font-medium text-gray-500 px-3 mt-0 mb-2" (click)="toggleSort()">DESC</h3>
  }
  <button class="btn btn-primary" (click)="addSprint()">Nouveau sprint</button>
</div>
<div
  cdkDropList
  [cdkDropListData]="items()"
  cdkDropListOrientation="vertical"
  class="w-[255px] flex flex-col mt-0 mr-1"
  (cdkDropListDropped)="drop($event)"
>
  @if (
    !projectInstanceStore.sprintLoading() && projectInstanceStore.currentProjectSprints().length > 0
  ) {
    <ul class="sprints-container flex flex-col gap-1">
      @for (sprint of items(); track sprint.name) {
        <li (click)="selectedSprint(sprint)" cdkDrag>
          <app-side-bar-card-sprint [sprint]="sprint" />
        </li>
      }
    </ul>
  } @else {
    <section class="w-full py-20 flex flex-col items-center justify-center gap-2">
      <!-- @if (projectInstanceStore.sprintLoading()) { -->
      <h1>Chargement de la liste...</h1>
      <app-loading-spinner />
      <!-- } @else {
        <h1>Séléctionnez un sprint</h1>
      } -->
    </section>
  }
</div>
