
    .comment{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .comment_input{
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .comment_input input{
      width: 100%;
    }
    