 
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 max-w-md">
  <h1>Status</h1>

         <div class="flex flex-col gap-1">
    <label for="status_id" class="font-medium">status_id</label>
    <input
      id="status_id"
      name="status_id"
      type="number"
      formControlName="status_id"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['status_id'].touched || submitted) && f['status_id'].errors) {
      <p class="text-sm text-red-600">
        @if (f['status_id']?.errors?.['required']) {
          L'status_id est obligatoire.
        }
        @if (f['status_id']?.errors?.['status_id']) {
          Format d'status_id invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="status_name" class="font-medium">status_name</label>
    <input
      id="status_name"
      name="status_name"
      type="text"
      formControlName="status_name"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['status_name'].touched || submitted) && f['status_name'].errors) {
      <p class="text-sm text-red-600">
        @if (f['status_name']?.errors?.['required']) {
          L'status_name est obligatoire.
        }
        @if (f['status_name']?.errors?.['status_name']) {
          Format d'status_name invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="status_context" class="font-medium">status_context</label>
    <input
      id="status_context"
      name="status_context"
      type="number"
      formControlName="status_context"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['status_context'].touched || submitted) && f['status_context'].errors) {
      <p class="text-sm text-red-600">
        @if (f['status_context']?.errors?.['required']) {
          L'status_context est obligatoire.
        }
        @if (f['status_context']?.errors?.['status_context']) {
          Format d'status_context invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="created_At" class="font-medium">created_At</label>
    <input
      id="created_At"
      name="created_At"
      type="datetime-local"
      formControlName="created_At"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['created_At'].touched || submitted) && f['created_At'].errors) {
      <p class="text-sm text-red-600">
        @if (f['created_At']?.errors?.['required']) {
          L'created_At est obligatoire.
        }
        @if (f['created_At']?.errors?.['created_At']) {
          Format d'created_At invalide.
        }
      </p>
    }
  </div>


         <div class="flex flex-col gap-1">
    <label for="updated_At" class="font-medium">updated_At</label>
    <input
      id="updated_At"
      name="updated_At"
      type="date"
      formControlName="updated_At"
      class="border rounded px-3 py-2"
      placeholder="votre.email@domaine.com"
    />

    @if ((f['updated_At'].touched || submitted) && f['updated_At'].errors) {
      <p class="text-sm text-red-600">
        @if (f['updated_At']?.errors?.['required']) {
          L'updated_At est obligatoire.
        }
        @if (f['updated_At']?.errors?.['updated_At']) {
          Format d'updated_At invalide.
        }
      </p>
    }
  </div>

@if (submitted && form.invalid) {
    <p class="text-sm text-red-600">Corrigez les erreurs avant de continuer.</p>
  }

  <button
    type="submit"
    class="mt-2 px-4 py-2 rounded bg-blue-600 text-white font-medium"
  >
    Se connecter
  </button>
</form>
 