<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 max-w-md border-2 border-gray-200 p-4 rounded-lg shadow-sm">
  <h1 class="text-xl font-bold">Sprint</h1>

  <form-input-component
    label="Nom du sprint"
    formControlName="name"
    placeholder="Nom du sprint"
    [required]="true"
  />

  <div class="grid grid-cols-2 gap-4">
    <form-input-component
      label="Date de début"
      type="date"
      formControlName="startDate"
    />
    <form-input-component
      label="Date de fin"
      type="date"
      formControlName="endDate"
    />
  </div>

  <div class="grid grid-cols-2 gap-4">
    <form-select-component
      label="Priorité"
      optionLabel="name"       
      formControlName="priority"       
      [options]="priorityOptions()"       
      [required]="true"
    />
    <form-select-component
      label="Statut"
      optionLabel="name"
      placeholder="Sélectionner un statut"
      formControlName="status"
      [options]="statusOptions()"
      [required]="true"
    />
  </div>

  <div >
    <form-color-picker-component
      label="Couleur"
      formControlName="color"
      [required]="true"
    />
     
  </div>

  <form-textarea-component
    label="Commentaire"
    formControlName="comment"
    placeholder="Ajouter un commentaire..."
    [rows]="2"
  />

  @if (submitted() && form.invalid) {
    <p class="text-sm text-red-600 font-medium">Certains champs sont invalides.</p>
  }

  <button type="submit" class="mt-2 px-4 py-2 rounded bg-blue-600 hover:bg-blue-700 text-white font-medium transition-colors">
    {{ isNew() === true ? 'Créer le sprint' : 'Modifier le sprint' }}
  </button>
</form>
